# Required modules for the project to run
# pip install -r requirements.txt

ipykernel
numpy
pandas
xgboost
scikit-learn==1.5.2
joblib
matplotlib
tabulate
imbalanced-learn
mlxtend
# --- Backend (Flask) ---
Flask
python-dotenv

# --- Frontend (Streamlit) ---
streamlit

# --- Shared Libraries ---
requests
google-generativeai

flask-cors==4.0.0
pymongo==4.6.1
